# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.eggs

sql_app.db
todolist.db

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
AUTHORS
ChangeLog

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# Translations
*.mo
*.pot

# Flask stuff:
.webassets-cache

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Development
.vscode/
/log/
tmp/
test_results.html
nginx.conf
mypy-report/
doc/build
doc/source/_static

# MAC OS
.DS_Store
.idea

# TodoList
etc/todolist/todolist.conf
etc/todolist/logging.conf
etc/todolist/supervisord.conf
supervisord.log
celerybeat-schedule
